<form id="mainForm" name="mainForm" novalidate (ngSubmit)="onSubmit()" #mainForm="ngForm" class="form-horizontal container"
    role="form">

    <form-text [name]=formControls.inputTextbox.id [inputData]=formControls.inputTextbox [(required)]="formControls.inputTextbox.isRequired"
        [(minlength)]="formControls.inputTextbox.minlength" [(maxlength)]="formControls.inputTextbox.maxlength" [(ngModel)]=formControls.inputTextbox.value>
    </form-text>
    <form-dropdown [name]=formControls.inputDropdown.id [inputData]=formControls.inputDropdown [(required)]="formControls.inputDropdown.isRequired"
        [(ngModel)]=formControls.inputDropdown.value>
    </form-dropdown>
    <form-radio [name]=formControls.inputRadioGroup.id [inputData]=formControls.inputRadioGroup [(required)]="formControls.inputRadioGroup.isRequired"
        [(ngModel)]=formControls.inputRadioGroup.value>
    </form-radio>
     <form-toggle [name]=formControls.inputToggleGroup.id [inputData]=formControls.inputToggleGroup [(required)]="formControls.inputToggleGroup.isRequired"
        [(ngModel)]=formControls.inputToggleGroup.value>
    </form-toggle>
    <form-autocomplete [name]="formControls.inputAutocomplete.id" 
        [(ngModel)]=formControls.inputAutocomplete.value 
        [inputData]=formControls.inputAutocomplete 
        [allowListValueOnly]=true
        [(required)]="formControls.inputAutocomplete.isRequired"></form-autocomplete>
    <form-checkbox-group  [name]="formControls.inputCheckboxGroup.id" [(ngModel)]=formControls.inputCheckboxGroup.value 
        [inputData]=formControls.inputCheckboxGroup  
        [(required)]="formControls.inputToggleGroup.isRequired">
    </form-checkbox-group>
    
    <button type="submit" [disabled]="!mainForm.valid">Submit Form</button>
    <pre>
        Form errors- {{mainForm.error | json}} 
        Is form valid?- {{mainForm.valid | json}} 
        Is form dirty?- {{mainForm.dirty | json}} 
        Has form been submitted?- {{mainForm.submitted|json}} 
        Form value- {{mainForm.value | json}}
    </pre>

</form>