<div class="form-group" [ngClass]="{'has-error': (IsDirtyOrTouched && (invalid | async))}">
  <label for=inputData.id class="control-label col-sm-4">{{inputData.label}}</label>
  <div class="col-sm-6">    
    <select name="inputData.id" id="inputData.name" [(ngModel)]="inputData.value" class="form-control" (change)="dropdownValueChange($event)">
        <option *ngFor="let option of inputData.options" [value]="option.value" [selected]="option.isSelected" >{{option.text}}</option>
    </select>
    <validation-messages *ngIf="IsDirtyOrTouched && (invalid | async)" [messages]="failures | async">
    </validation-messages>
  </div>
</div>